        table {
            border-collapse: collapse;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        
        .heading {
            font-weight: normal;
            color: white;
            background-color: #54B706;
        }
        
        .flags {
            width: 20px
        }
        
        .first,
        .third {
            width: 150px;
        }
        
        .second {
            width: 100px
        }
        
        .fourth {
            width: 80px
        }