* {
    padding: 0;
    margin: 0;
}

#wholepage {
    display: inline-block;
    border-radius: 5px;
    margin: 20px;
    background-color: #1E3741;
}

header {
    padding: 5px;
}

header * {
    display: inline-block;
    font-size: 15px;
    padding: 5px;
}

header h1 {
    color: white;
    font-weight: normal;
}

header nav p {
    background-color: #4B5F67;
    color: #8DA5AF;
}

header nav p:hover {
    text-decoration: underline;
    cursor: pointer;
}

#sections {
    float: left;
}

#sections div {
    display: inline-block;
    width: 300px;
    color: #8DA5AF;
}

#sections div:hover {
    color: white;
    background-color: #00968C;
    cursor: pointer;
}

#sections div p {
    margin: 10px;
}

#video {
    margin-bottom: 5px;
    margin-right: 50px;
}