    body{
        color: #0094ff;
    }
    h1{
        font-family: Consolas, Script ITC;
        font-size: 14px;
        font-weight: 525;
    }
    div{
        font-family: Consolas, Script ITC;
        font-size: 14px;
    }
    span{
        font-family: Edwardian Script ITC;
        font-size: 40px;
    }
    
    
    /*could not find the same *Lorem Ipsum* thats default from VS Code, 
    tested on waterfox/firefox/chrom/opera, does not work on edge(works proper only when embed).*/